<nav class="navbar">
    <div>
        <a href="index.html">To do list</a>
    </div>
    <ul>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
        <li><a [routerLink]="['/tasks']" routerLinkActive="router-link-active" >Tasks</a></li>
        <li><a [routerLink]="['/task/create']" routerLinkActive="router-link-active" >Create</a></li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <button
              class="btn btn-link nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ user?.displayName || user?.email }}
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Ver perfil</a>
              <div class="dropdown-divider"></div>
              <button
                class="btn btn-link text-danger dropdown-item"
                (click)="logout()"
              >
                Cerrar sesión
              </button>
            </div>
          </li>
    </ul>
</nav> 

